@tailwind base;
@tailwind components;
@tailwind utilities;

/* body * {
  border: 1px solid black;
} */

body {
  /* Default margin is 8px - get rid of it */
  margin: 0;
}

/* Style the title-bar class to be grey
and horizontal across the top of the page */
.title-bar {
  background-color: #333;
  color: white;
  padding: 12px;
  /* font-family: sans-serif; */
  /* border: 0px 0px 0px 0px; */
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 35px);
  grid-gap: 10px;
  max-width: 200px;
  margin: 0 auto; /* center the container horizontally */
}

/* TODO: Ask why we need this */
.grid-container img {
  width: 100%;
  height: auto;
}
